<section class="hero">
  <div class="hero__text">
    <h1>{{title1}} <span>{{title2}}</span></h1>
    <div class="hero__favourites">
      <div class="hero__favourites_item">
        <img src="assets/images/hop.png" alt="hop">
        <div class="hero__favourites_item_text">
          <h3>Лучшее тесто</h3>
            <p>Мы создаем тесто только из
              отборной итальянской муки
              наивысшего качества</p>
        </div>
      </div>
      <div class="hero__favourites_item">
        <img src="assets/images/kitchen-pack.png" alt="kitchen-pack">
        <div class="hero__favourites_item_text">
          <h3>Лучшие повара</h3>
            <p>Пиццы готовят самые
              профессиональные
              итальянские повара</p>
        </div>
      </div>
      <div class="hero__favourites_item">
        <img src="assets/images/clock.png" alt="time">
        <div class="hero__favourites_item_text">
          <h3>Гарантия качества</h3>
            <p>Наша пиццерия получила
              множество наград и
              признаний по всему миру</p>
        </div>
      </div>
      <div class="hero__favourites_item">
        <img src="assets/images/receipt.png" alt="receipt">
        <div class="hero__favourites_item_text">
          <h3>Отборные рецепты</h3>
            <p>Мы используем рецепты
              от мировых лидеров
              в изготовлении пиццы</p>
        </div>
      </div>
    </div>
    <button type="button">Выбрать пиццу</button>
  </div>

  <img src="assets/images/pizza_hero.png" class="hero__logo" alt="pizza">
</section>
