@import "../../vars.scss";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 142px;

  img {
    height: 342px;
    width: 512px;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 60px;

  h1 {
    color: $hero-txt;
    font-size: 45px;
    font-weight: 900;
    line-height: 55px;

    span {
      color: $main;
    }
  }

  button {
    height: 60px;
    width: 224px;
    border: none;
    font-weight: 500;
    background-color: $main;
  }
}

.hero__favourites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.hero__favourites_item {
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $main;
  }

  p {
    color: $hero-txt;
    line-height: 16px;
  }

  img {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }

  .hero img {
    order: -1;
  }
}

@media screen and (max-width: 600px) {
  .hero__favourites {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}